body {
	font-family: "Josefin Sans", "Bitter";
	background-image:url(bg.jpg);
	background-size: cover;
}

header, main, div.all {
	width: 1020px;
	margin: auto;
}

.home {
	font-size:#cfa205;
} 

ul {
	display: inline-flex;
	width: 1020px;
	height: 60px;
	background-color: #120D04;
	/* margin: 19px; */
	text-decoration: none;
	font-size: 1.2em;
	border: 1px solid #120D04;
	/* border-block: 1020px;
	border-size: 32px; */
	font-size: white;
	padding: 1em;
}

a {
	width: 18%;
}

ul, h1, h2 {
	background-color: #120D04;
}
li {
	width: auto;
	text-align: center;
	/* padding: 2em; */
}

#title {
	color : #cfa205;
	font-size: 133px;
	text-align: center;
	margin-bottom: .5em;
	margin-top: .5em;
}

h2 {
	color: #cfa205;
	font-size: 1em;
	text-align: center;

}

main {
	color: #7a7a7a;
	background-color: white;
}

.fab {
	color:#e8e8e8;
	border-size: 14px;
	width: 1020px;
	height: 60px;
	text-align: center;
	display: inline-block;
}

article < p < {
	font-size: 14px;
	color: #7a7a7a;
}

h3 {
	font-size: 18px;
}
