body {
    font-family: "Josefin Sans", "Bitter";
    background-image:url(bg.jpg);
    background-size: cover;
}

.class {
	color: #cfa205
}

.all {
    width: 1020px;
    margin: auto;
    background-color:white;
}

header {
    background-color:#120d04;
    width: 1020px;
    height: 320px;
}

h1 {
    color: #cfa205;
    font-size: 130px;
    text-align: center;
}

h2 {
    color: #cfa205;
    text-align: center; 
    height: 60px;
    padding-top: 50px;
    font-size: 20px;
}

nav ul {
    width: 1020px;
    height: 60px;
    display: inline-flex;
    padding-left: 200px;
    padding-top: 20px;
}

nav ul li {
    padding-right: 25px;
}

.iconbar {
    background-color: #e8e8e8;
    width: 1020px;
	height: 60px;
    text-align: center;
    font-size: 45px;
    
}

a {
    text-decoration: none;
    color: white;
}

main div {
	color : #7a7a7a;
	text-decoration: bold;
	font-size: 1.5em;
	text-align: center;
	padding: 1em;
}

section {
	width: 20%;
	display: inline-flex;
}
.home a
{
    color: #cfa205;
}
.first, .second, .third
{
margin: 30px;
}
.image1
{
    width: 260px;
    height: 195px;
}
section p
{
    width: 260px;
    height: 480px;
}
